{% extends 'main/base.html' %}

{% load static %}

{% block title %}
О НАС | SAKURA SUSHI
{% endblock %}

{% block content %}
	<div class="container-fluid menu">
		<div class="container">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
    				<li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    				<li class="breadcrumb-item active" aria-current="page">О нас</li>
  				</ol>
			</nav>
			<div class="d-flex mb-4">
				<span class="border_title"></span>
				<span class="font_title">О нас</span>
			</div>

			{% if about %}
			{{ about|safe }}
			{% else %}
			<div class="myborder text-center w-100">
				<div class="card-body">
					<h5 class="card-title">Тут пусто!</h5>
				</div>
			</div>
			{% endif %}

		</div>
	</div>
{% endblock %}