{% extends 'main/base.html' %}

{% load static %}

{% block title %}
SAKURA SUSHI
{% endblock %}

{% block content %}

<!-- CONTENT -->
<div class="container-fluid menu">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
    			<li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
    			<li class="breadcrumb-item active" aria-current="page">Поиск</li>
  			</ol>
		</nav>
		<div class="d-flex mb-4">
			<span class="border_title"></span>
			<span class="font_title">Результат</span>
		</div>
		{% if menu %}

		<div class="row ml-0 mr-0">

			{% for i in menu %}
			{% if i.is_published and i.is_new %}
			<div class="col-md-4 col-lg-3 px-0">
				<div class="card card_anim w-100 h-100" style="width: 18rem;">
					<div class="inner">
						<img src="{{i.img.url}}" class="card-img-top" alt="{{ i.title }}">
					</div>

					<div class="card-body">
						<a href="{{ i.get_absolute_url }}" class="link">
							<h5 class="card-title mb-4">{{ i.title }}</h5>
						</a>
						<p class="card-text blockquote-footer">{{ i.desc }}</p>
					</div>

					<div class="card-footer bg-white" style="border: none;">
						<h5>{{ i.price|fixed_price }} сум</h5>
						<a class="btn btn-primary add_to_cart mt-3 mb-2 btn_{{ i.pk }}" data-id="{{ i.pk }}">Хочу</a>
						<div class="input-group mt-4 mb-2" style="display: none;">
							<button class="btn btn-outline-secondary minus minus_{{ i.pk }}" type="button" data-id="{{ i.pk }}">-</button>
							<span class="input-group-text">0</span>
							<button class="btn btn-outline-secondary plus plus_{{ i.pk }}" type="button" data-id="{{ i.pk }}">+</button>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
			{% endfor %}
		</div>
		{% else %}
		<div class="myborder text-center">
			<div class="card-body">
				<h5 class="card-title">Ничего не найдено!</h5>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<!-- CONTENT END -->

{% endblock %}